body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #fff3e4;

}
button {
  background-color: #fd7015;
  color: white; 
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
